 <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5 <%= @api_color%>">
        <h1 class="display-5 fw-bold"><%= @final_output%></h1>
        <p>Not Available, You need to provide a valid zip code</p>
        <p class="col-md-8 fs-4">This is the current ozone air quality readout for <%=@city%>, <%=@state%>  zipcode <%=@inputvalue%> </p>
        <p><%= @api_description %></p>
      </div>
    </div>


<%#=@output[0]['ReportingArea']%>
<%# <br/>
<br/> %>
<%#=@output[0]['StateCode]%>
<%# <br>
<br> %>